<!-- Imagine you're buying a gift box that’s beautifully wrapped but empty inside. The box represents a container that can
hold any gift—a watch, chocolates, or a handwritten note—depending on what you choose to put inside.

Similarly, in Angular, <ng-content> acts like that gift box. It allows you to create reusable components where the
  content can be dynamically inserted based on how the component is used. This technique is known as Content Projection.


ng-content:
===========
  <ng-content> is a directive in Angular that allows you to project content from a parent component into a child component. It’s useful when you want to make components more flexible and reusable by letting the parent define what content goes inside the child.


why?
====
1) Reusability: Create generic components that can be used in multiple ways.
2) Flexibility: Allows developers to inject dynamic content into components.
3) Cleaner Code: Keeps components modular and separated from specific content.

where?
======
Reusable UI Components: For creating modals, cards, or tabs where content varies.
Layout Components: Like headers, footers, or sidebars where dynamic content is inserted.
Custom Widgets: For components like notifications, tooltips, or dialogs.


Realtime Scenarios
==================

Custom Modal/Popup Components:
Use ng-content to project different content into the title, body, and footer of a modal.

Dynamic Forms:
Create a form component that allows different input fields to be projected dynamically.

Reusable Layouts:
Build dashboards or layouts where content like sidebars and headers can be customized.


 -->

<button (click)="toggleLoginStatus()">Toggle Login Status</button>
    
    <!-- Conditional Content -->
    <ng-container *ngIf="isLoggedIn">
      <p>Welcome, User!</p>
    </ng-container>

    <!-- Looping through a list with *ngFor -->
    <ul>
      <li *ngFor="let item of items">{{ item }}</li>
    </ul>

    <!-- Content Projection with ng-content -->
     <!-- <app-welcome>
      <p>This is the content projected into the card!</p>
     </app-welcome>
    <app-welcome>
      <h1>Another Card</h1>
      <p>This is a custom content inside the card.</p>
    </app-welcome> -->

    <!-- ng-template for Deferred Rendering -->
    <button (click)="showTemplate = !showTemplate">Toggle Template</button>
    <div *ngIf="showTemplate; else templateRef">
      <p>This content is directly rendered.</p>
    </div>
    
    <ng-template #templateRef>
      <p>This content is inside the template!</p>
    </ng-template>