<button routerLink="/dashboard">Click here to redirect to Dashboard</button><br><br><br>
<form [formGroup]="loginForm">
    <label>Email:</label>
    <input type="email" formControlName="email"><br>
        <label>Password:</label>
            <input type="{{isVisible ? 'text' : 'password'}}" formControlName="password">
            <button class="eye-button" type="button" (click)="visible()">
                {{isVisible ? '👁️' : '👁️'}}
            </button><br>
    <button class="btn btn-primary" (click)="login()">Login</button>
</form>
