.parent{
    width: 100vw;
    height: 100vh;
    background-color: rgb(83, 141, 141);
    display: flex;
}
.left{
    width: 20%;
    height: 100%;
    background-color: cadetblue;
    overflow: auto;
}
.right{
    width: 80%;
    height: 100%;
    background-color: rgb(17, 122, 47);
    overflow: auto;
}